/* seacoast http://seacoasteatlocal.org Write your theme styles here */
a, a:visited, a:active { color: #B7D968; }

a:hover, a:focus { color: #B7D968; }

h1, h2, h3 { margin: 6px 0px 4px; }

h4, h5, h6 { margin: 6px 0px 4px; }

h2 { font-size: 28px; }

h3 { font-size: 20px; }

h4 { font-size: 18px; }

ul, ol { margin: 0 0 0 15px; padding: 0; list-style: none; }

ul li, ol li { margin: 0 0 0 15px; padding: 0; }

ul li ul, ol li ul { margin: 0 0 0 5px; }

ul li ul li, ol li ul li { margin: 0 0 0 0px; padding: 0; }

.hentry { margin: 0; }

.entry-content, .entry-header, .page-header { margin: 10px 0 0; border: 0; }

.entry-content { margin: 10px 0 25px; }

.wp-caption { font-style: italic; line-height: 1.4em; }

#secondary { margin-left: 0px; }

@media only screen and (min-width: 850px) { #secondary { margin-left: -1px; } }

.site-main.col-md-8 { border-right: 0px solid transparent; }

@media only screen and (min-width: 850px) { .site-main.col-md-8 { border-right: 1px solid transparent; } }

.widget-area.col-md-4 { border-left: 0px solid transparent; }

@media only screen and (min-width: 850px) { .widget-area.col-md-4 { border-left: 1px solid transparent; } }

.comments-link { margin: 0 15px; float: right; }

.widget_recent_entries a { font-size: 14px; }

.widget_recent_entries ul { margin: 0; }

.widget_recent_entries ul li { margin: 0 0 8px 0; }

.form-group { display: inline-block; }

.container.mobile { background-color: white; }

.container.mobile #masthead { box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15); min-height: 100px; }

.container.mobile header { padding-top: 0px; }

header { padding-top: 100px; background-color: white; }

@media only screen and (min-width: 850px) { header { padding-top: 0px; } }

header .mobile .custom-logo-link img { width: 100px; height: 100px; }

header .mobile.navbar { min-height: 0; }

header .mobile .navbar-header { margin: 20px 0 0 0; }

header .search-glass-mobile { margin: 20px 0 0 0; padding: 10px 0 0 0; }

header .search-glass-mobile a { color: #006393; }

header .social { margin: 10px 0 20px; }

@media only screen and (min-width: 850px) { header .social { margin-right: 15px; } }

@media only screen and (min-width: 1040px) { header .social { margin-right: 27px; } }

header .social a { color: #003D5B; }

header .social .fa { padding: 4px 8px; font-size: 24px; }

header .subscribe { padding: 15px 15px; color: black; font-weight: 700; }

header .subscribe a { padding: 15px 15px; border-radius: 6px; background-color: #CDE0EA; color: #006393 !important; color: black !important; text-decoration: none; }

.search-form .fa { color: #006393; }

.donate { padding: 15px 15px; color: black; font-weight: 700; }

.donate a { padding: 15px 15px; border-radius: 6px; background-color: #FFAA5A; color: #006393 !important; color: black !important; }

.navbar-default { background-color: transparent; border-color: transparent; }

.navbar-default .navbar-toggle { border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar { background-color: #006393; }

.navbar-default .navbar-toggle:focus { background-color: transparent; }

.navbar-default .navbar-nav > li > a, .navbar-default .call-telephone a { text-transform: uppercase; padding: 0 0px; margin: 0; }

@media only screen and (min-width: 1040px) { .navbar-default .navbar-nav > li > a, .navbar-default .call-telephone a { padding: 0 10px; } }

.navbar-default .navbar-nav .search-glass { display: none; }

@media only screen and (min-width: 850px) { .navbar-default .navbar-nav .search-glass { display: block; } }

.navbar { margin-bottom: 0px; }

#main-primary-menu > li.current-menu-item > a { text-decoration: underline; }

#main-primary-menu > li.current-menu-parent > a { text-decoration: underline; }

#main-primary-menu > li.current-menu-parent > ul > li.current-menu-item > a { text-decoration: underline; }

#main-primary-menu > li.current-menu-parent > ul > li.current-menu-item > a { text-decoration: underline; }

.home .card { margin: 0 0 30px; min-height: 0; }

@media only screen and (min-width: 600px) { .home .card { margin: 0 0 30px; } }

@media only screen and (min-width: 850px) { .home .card { min-height: 450px; } }

@media only screen and (min-width: 1040px) { .home .card { min-height: 0; } }

.home .card .image { margin-left: auto; margin-right: auto; text-align: center; }

@media only screen and (min-width: 600px) { .search-results .page-title { margin-top: 15px; } }

.search-results article header { padding-top: 0px; }

.search-results .entry-summary { margin: 0; padding: 0; }

.search-results .entry-summary p { display: line; }

.search-results .entry-summary .posted-on { color: #777; }

.search-results .entry-summary .byline { color: #777; display: inline; }

.post .byline { display: inline; }

.post .entry-content { margin-bottom: 0; }

.post .entry-footer { padding: 0px 0 35px; }

.blog article header { padding-top: 0px; }

.sponsors .sponsor { margin: 10px 0; }

.sponsors .sponsor .logo { margin: 8px auto; }

.social-sharing a { color: white; }

#secondary { padding: 30px 15px 15px; }

@media only screen and (min-width: 600px) { #secondary { padding: 0px 15px; } }

.seacoast-harvest-widget-form { background-image: url("../images/seacoast-harvest-284w.jpg"); background-repeat: no-repeat; padding-top: 100px; min-height: 86px; }

footer { padding-top: 15px; }

footer #footer-menu > div { margin-bottom: 15px; text-align: center; }

@media only screen and (min-width: 850px) { footer #footer-menu > div { text-align: left; } }

footer #footer-menu > div > li > a { font-weight: 700; }

footer #footer-menu > li > a:hover { background-color: transparent; text-decoration: underline; }

footer #footer-menu > div > li > ul { margin: 0; }

footer .donate { padding: 15px 15px; background-color: #FFAA5A; color: black; font-weight: 700; }

footer .donate a { color: black; }

footer .subscribe { padding: 15px 15px; background-color: #CDE0EA; color: black; font-weight: 700; }

footer .subscribe a { color: black; text-decoration: none; }

footer .subscribe-mobile { border-bottom: 1px solid #ccc; }

footer .social { margin: 20px 0 20px; }

footer .social a { color: #003D5B; }

footer .social .fa { padding: 4px 8px; font-size: 24px; }

footer .pages { padding-top: 15px; padding-bottom: 15px; background-color: #CDE0EA; color: #003D5B; }

footer .pages a { color: #003D5B; }

footer .pages .search-glass { display: none; }

footer .copyright, footer .mission { padding: 15px 15px; padding: 30px 30px; background-color: #003D5B; color: white; }

footer .copyright a, footer .mission a { color: white; }

footer .credit { padding: 0px 0px; font-size: 12px; text-align: right; background-color: #003D5B; color: white; }

footer .credit a { color: #006393; color: white; color: #aaa; }

.social-sharing a { color: white; }

/*# sourceMappingURL=main.css.map */