@import "../../bower_components/sass-bootstrap/lib/_mixins.scss";
@import "../../bower_components/sass-bootstrap/lib/_variables.scss";
/*
 * seacoast
 * http://seacoasteatlocal.org
 *
 * Write your theme styles here
 */

///////////////////////////////////////////////////////////////////////////////
// colors
$sel-blue: #006393;
$sel-dark-blue: #003D5B;
$sel-light-blue: #CDE0EA;
$sel-orange: #FFAA5A;
$sel-green: #B7D968;

///////////////////////////////////////////////////////////////////////////////
// general
a, a:visited, a:active {
color: $sel-green;
}
a:hover, a:focus {
color: $sel-green;
}

h1, h2, h3 {
  margin: 6px 0px 4px;
}
h4, h5, h6 {
  margin: 6px 0px 4px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

ul, ol {
  margin: 0 0 0 15px;
  padding: 0;
  list-style: none;
  li {
    margin: 0 0 0 15px;
    padding: 0;
    ul {
      margin: 0 0 0 5px;
      li {
        margin: 0 0 0 0px;
        padding: 0;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// WordPress

.hentry {
  margin: 0;
}
.entry-content, .entry-header, .page-header {
  margin: 10px 0 0;
  border: 0;
}
.entry-content {
  margin: 10px 0 25px;
}
.wp-caption {
  font-style: italic;
  line-height: 1.4em;
}
#main {
  @media only screen and (min-width: $screen-xs) { // medium > 992px, tablet landscape
    //border-right: 0px solid transparent;
  }
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
  }
}
#secondary {
  // desktop break, ipad landscape break
  margin-left: 0px;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    margin-left: -1px;
  }
}
.site-main.col-md-8 {
  border-right: 0px solid transparent;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    border-right: 1px solid transparent;
  }
}
.widget-area.col-md-4 {
  border-left: 0px solid transparent;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    border-left: 1px solid transparent;
  }
}

.comments-link {
  margin: 0 15px;
  float: right;
}
.widget_recent_entries {
  a {
    font-size: 14px;
  }
  ul {
    margin: 0;
    li {
      margin: 0 0 8px 0;
    }
  }
}

.form-group {
  display: inline-block;
}
.search-field {
  //width: 240px;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    //width: auto;
  }
}

///////////////////////////////////////////////////////////////////////////////
// header
.container.mobile {
  background-color: white;
  #masthead {
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.15);
    min-height: 100px;
  }
  header {
    padding-top: 0px;
  }
}


header {
  padding-top: 100px;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    padding-top: 0px;
  }
  background-color: white;

  .mobile {
    .custom-logo-link {
      img {
        width: 100px;
        height: 100px;
      }
    }

  }
  .mobile.navbar {
    min-height: 0;
  }
  .mobile .navbar-header {
    margin: 20px 0 0 0;
  }
  .search-glass-mobile {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    a {
      color: #006393;
    }
  }

  .social {
    margin: 10px 0 20px;
    @media only screen and (min-width: $screen-md) {
      margin-right: 15px;
    }
    @media only screen and (min-width: $screen-lg) {
      margin-right: 27px;
    }
    a {
      color: $sel-dark-blue;
    }
    .fa {
      padding: 4px 8px;
      font-size: 24px;
    }
  }
  .subscribe {
    padding: 15px 15px;
    color: black;
    font-weight: 700;
    a {
      padding: 15px 15px;
      border-radius: 6px;
      background-color: $sel-light-blue;
      color: $sel-blue !important;
      color: black !important;
      text-decoration: none;
    }

  }
  .subscribe-desktop {
    //border-bottom: 1px solid #ccc;
  }
}

.search-form {
  .fa {
    color: $sel-blue;
  }
}

.donate {
  padding: 15px 15px;
  color: black;
  font-weight: 700;
  a {
    padding: 15px 15px;
    border-radius: 6px;
    background-color: $sel-orange;
    color: $sel-blue !important;
    color: black !important;
  }
}



///////////////////////////////////////////////////////////////////////////////
// navigation
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  .navbar-toggle {
    border-color: transparent;
    .icon-bar {
      background-color: $sel-blue;
    }
  }
  .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-nav > li > a, .call-telephone a {
    text-transform: uppercase;
    padding: 0 0px;
    @media only screen and (min-width: $screen-lg) { // small > 768px, tablet, portrait
      padding: 0 10px;
    }
    margin: 0;
  }
  .navbar-nav {
    .search-glass {
      display:none;
      @media only screen and (min-width: $screen-md) { // small > 768px, tablet, portrait
        display:block;
      }
    }
  }
}

.navbar {
  margin-bottom: 0px;
}

#main-primary-menu > li.current-menu-item > a {
  text-decoration: underline;
}
#main-primary-menu > li.current-menu-parent > a {
  text-decoration: underline;
}
#main-primary-menu > li.current-menu-parent > ul > li.current-menu-item > a {
  text-decoration: underline;
}

#main-primary-menu > li.current-menu-parent > ul > li.current-menu-item > a {
  text-decoration: underline;
}

.sub-menu {
  //display: none;
}

#main-primary-menu .dropdown-menu {
  //display: none;
}

///////////////////////////////////////////////////////////////////////////////
// content
.home {

  .card {
    margin: 0 0 30px;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      margin: 0 0 30px;
    }
    min-height: 0;
    @media only screen and (min-width: $screen-md) { // small > 768px, tablet, portrait
      min-height: 450px;
    }
    @media only screen and (min-width: $screen-lg) { // small > 768px, tablet, portrait
      min-height: 0;
    }
    .image {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

}

.search-results {
  .page-title {
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      margin-top: 15px;
    }
  }
  article header {
    padding-top: 0px;
  }
  .entry-summary {
    margin: 0;
    padding: 0;
    p {
      display: line;
    }
    .posted-on {
      color: #777;
    }
    .byline {
      color: #777;
      display: inline;
    }
  }
}
.post {
  .byline {
    display: inline;
  }
  .entry-content {
    margin-bottom: 0;
  }
  .entry-footer {
    padding: 0px 0 35px;
  }
}

.blog {
  article header {
    padding-top: 0px;
  }
}


.sponsors {
  .sponsor {
    margin: 10px 0;
    .logo {
      margin: 8px auto;

    }
  }
}

.social-sharing a {
	color: white;
}

///////////////////////////////////////////////////////////////////////////////
// sidebar
#secondary {
  padding: 30px 15px 15px;
  @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
    padding: 0px 15px;
  }
}
.seacoast-harvest-widget-form {
  background-image: url('../images/seacoast-harvest-284w.jpg');
  background-repeat: no-repeat;
  //background-size: contain;
  padding-top: 100px;
  min-height: 86px;
}

///////////////////////////////////////////////////////////////////////////////
// footer
footer {
  padding-top: 15px;

  #footer-menu > div {
    //margin: 15px 0px;
    margin-bottom: 15px;

    text-align: center;
    @media only screen and (min-width: $screen-md) { // small > 768px, tablet, portrait
      text-align: left;
    }
    li {
//      margin: 0;
    }
  }

  #footer-menu > div {
  }

  #footer-menu > div > li > a {
    font-weight: 700;
  }
  #footer-menu > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  #footer-menu > div > li > ul {
    margin: 0;
    li {
     //margin: 0;
     //padding: 0;
   }
  }


  .donate {
    padding: 15px 15px;
    background-color: $sel-orange;
    color: black;
    font-weight: 700;
    a {
      color: black;
    }
  }
  .subscribe {
    padding: 15px 15px;
    background-color: $sel-light-blue;
    color: black;
    font-weight: 700;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .subscribe-mobile {
    border-bottom: 1px solid #ccc;
  }
  .social {
    margin: 20px 0 20px;
    //float:right;
    a {
      color: $sel-dark-blue;
    }
    .fa {
      padding: 4px 8px;
      font-size: 24px;
    }
  }
  .pages {
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: $sel-light-blue;
    color: $sel-dark-blue;
    a {
      color: $sel-dark-blue;
    }
    .search-glass {
      display:none;
    }
  }
  .copyright, .mission {
    padding: 15px 15px;
    padding: 30px 30px;

    background-color: $sel-dark-blue;
    color: white;
    a {
      color: white;
    }
  }
  .credit {
    padding: 0px 0px;
    font-size: 12px;
    text-align: right;
    background-color: $sel-dark-blue;
    color: white;
    a {
      color: $sel-blue;
      color: white;
      color: #aaa;
    }
  }
}
// 3rd party css
.social-sharing a {
	color: white;
}

//@media only screen and (min-width: $screen-xxs) { // xxs > 160px, phones
//}
// tablet break
@media only screen and (min-width: $screen-xs) { // xs <> 480px, small, phones
}
@media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
}
// desktop break, ipad landscape break
@media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
}
@media only screen and (min-width: $screen-lg) { // large, wide > 1100px
}
